<div class="container">
    <h2 class="text-center">Mama Money Assessment</h2>

    <div class="d-flex justify-content-between align-items-center mt-2">
        <h4 *ngIf="isLoading">Loading weather for Cape Town ...</h4>
        <h4 *ngIf="!isLoading">Weather for Cape Town</h4>
        <div>
            <button class="btn btn-success" (click)="retryNow()">
                Retry Now
            </button>
            <button class="btn btn-primary ms-2" (click)="toggleTemperatureUnit()">
                Convert to degrees {{ nextTemperatureUnit.toLowerCase() }}
            </button>
        </div>

    </div>

    <ng-container *ngIf="(weatherForecast$ | async) as weatherForecast">
        <div class="mt-3"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="alert alert-danger w-100" role="alert" *ngIf="weatherForecast.current.temp > 25">
                        Weather has gone above 25 degrees
                    </div>
                    <div class="alert alert-warning w-100" role="alert" *ngIf="weatherForecast.current.temp < 15">
                        Weather has gone below 15 degrees
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="text-center">Current Weather</h3>
                <div class="card">
                    <div class="card-body pb-0 mb-0">
                        <app-hourly-weather-strip [weather]="weatherForecast.current"></app-hourly-weather-strip>
                        <app-hourly-weather-body [weather]="weatherForecast.current"></app-hourly-weather-body>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

</div>