<div class="row p-2">
    <div class="col-md-4">
        <div class="d-flex justify-content-between align-items-center">
            <span>{{ weather.dt | timestampToTime }}</span>
            <div class="p-2"></div>
            <h1>{{ weather.temp | temperatureUnit | async }}</h1>
        </div>
    </div>
    <div class="col-md-5">
        <div class="d-flex justify-content-center align-items-center h-100">
            Feels like {{ weather.feels_like | temperatureUnit | async }}
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-flex justify-content-center align-items-center h-100">
            <h2>{{ weather.weather[0].main }}</h2>
        </div>
    </div>
</div>