<div class="row">
    <div class="col-md-5">
        <div class="d-flex justify-content-between align-items-center">
            <span class="font-weight-bold text-nowrap">{{ weather.dt | timestampToTime }}</span>
            <img [src]="weather.weather[0].icon | weatherIcon" [alt]="weather.uvi">
            <h1>{{ weather.temp | temperatureUnit | async }}</h1>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-flex justify-content-center align-items-center h-100">
            Feels like {{ weather.feels_like | temperatureUnit | async }}
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-flex justify-content-center flex-column align-items-center h-100">
            <h4 class="mb-0">{{ weather.weather[0].main }}</h4>
            <small>{{ weather.weather[0].description }}</small>
        </div>
    </div>
</div>